---
import Layout from "../../layouts/Layout.astro";
import { getAllSnippets, getSnippetBySlug } from "../../lib/api";
import "highlight.js/styles/default.css";

export async function getStaticPaths() {
  const snippets = await getAllSnippets();
  return snippets.map((snippet) => ({
    params: { slug: snippet.slug },
  }));
}

const { slug } = Astro.params;
const snippet = await getSnippetBySlug(slug);

if (!snippet) {
  return Astro.redirect("/404");
}
---

<Layout
  title={`${snippet.title} - Code Snippets Blog`}
  description={snippet.excerpt}
>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css"
    />
  </head>
  <section class="md:py-12 py-8">
    <div>
      <a
        href="/"
        class="group relative flex w-fit flex-nowrap rounded border border-solid border-gray-200 py-1.5 pl-7 pr-3 transition-colors duration-300 ease-in-out hover:bg-gray-100 dark:border-gray-300 dark:hover:bg-slate-700 dark:hover:text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="absolute left-2 top-1/2 size-4 -translate-y-1/2 fill-none stroke-current stroke-2"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="translate-x-2 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
          ></line>
          <polyline
            points="12 5 5 12 12 19"
            class="translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
          ></polyline>
        </svg>
        <div class="text-sm"><span>Volver al inicio</span></div>
      </a>
      <div class="my-10 space-y-4">
        <div class="flex items-center gap-1.5">
          <div class="text-sm">
            <span>
              {
                new Date(snippet.date).toLocaleDateString("es-ES", {
                  dateStyle: "short",
                })
              }
            </span>
          </div>
        </div>
        <h1 class="text-3xl font-semibold text-black dark:text-white">
          {snippet.title}
        </h1>
        <p>{snippet.excerpt}</p>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Autor: {snippet.acf_fields.autor}
        </p>
      </div>

      <div class="border-b border-black/15 dark:border-white/20"></div>

      <article class="grid gap-4 mt-6 snippet-single">
        {
          snippet.acf_fields.codigos.map((codigoItem, index) => (
            <div class="flex flex-col gap-4">
              <h3 class="md:text-2xl text-lg">
                Código Snippet{" "}
                {snippet.acf_fields.codigos.length > 1 ? `#${index + 1}` : ""}
                {codigoItem.tipo_de_codigo &&
                  ` - ${codigoItem.tipo_de_codigo.toUpperCase()}`}
              </h3>
              <pre>
                <code
                  class={`hljs language-${codigoItem.tipo_de_codigo} max-w-screen-lg !text-wrap`}
                >
                  {codigoItem.codigo.trim()}
                </code>
              </pre>
            </div>
          ))
        }

        {
          snippet.acf_fields.instrucciones && (
            <div class="mt-8">
              <h3 class="md:text-2xl text-lg mb-4">Instrucciones</h3>
              <div
                class="prose dark:prose-invert"
                set:html={snippet.acf_fields.instrucciones}
              />
            </div>
          )
        }
      </article>
    </div>
  </section>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css"
  />

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
    defer></script>
</Layout>
